@using AGCS.Models
@model AGCS.Models.Client
<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Table.css">
    <title>AGCS</title>
    

</head>

<body>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Clientes</strong>
                </div>
                <div class="card-body">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Cliente"
                           title="Type in a name">
                    <table id="myTable">
                        <tr class="header">
                            <th style="width:20%;">Apellido</th>
                            <th style="width:15%;">Nombre</th>
                            <th style="width:15%;">DNI/CUIT/CUIL</th>
                            <th style="width:10%;">Celular</th>
                            <th style="width:25%;">Email</th>
                            <th style="width:20%;">Modificar</th>
                        </tr>
                        @{
                            for (int i = 0; i < ViewBag.Clients.Count; i++)
                            {
                                <tr>
                                    <td>@ViewBag.Clients[i].Surname</td>
                                    <td>@ViewBag.Clients[i].Name</td>
                                    <td>@ViewBag.Clients[i].Dni</td>
                                    <td>@ViewBag.Clients[i].Cellphone</td>
                                    <td>@ViewBag.Clients[i].Email</td>
                                    <td><button type="button" name="buttonId" class="btn btn-primary" id="@i" data-toggle="modal" data-target=".bd-example-modal-xl">Modificar</button></td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>




    <!-- Extra large modal -->



    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos Del Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
                    <div class="modal-body">

                        <div class="row">
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Apellido</span></strong>
                                </div>
                                <input id="modalSurname"  class="form-control text-center" value="Apellido" type="text">
                            </div>
                            <div class="offset-md-1 col-md-3">
                                <div class="text-center">
                                    <strong><span>Nombre</span></strong>
                                </div>
                                <input class="form-control text-center" value="Chino" type="text">
                            </div>
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>DNI/CUIT/CUIL</span></strong>
                                </div>
                                <input class="form-control text-center" value="43994080" type="text">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Telefono</span></strong>
                                </div>
                                <input class="form-control text-center" value="44322210" type="text">
                            </div>
                            <div class="offset-md-1 col-md-3">
                                <div class="text-center">
                                    <strong><span>Email</span></strong>
                                </div>
                                <input class="form-control text-center" value="chino_Liu_2001@gmail.com" type="text">
                            </div>
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Telefono 2</span></strong>
                                </div>
                                <input class="form-control text-center" value="1549836476" type="text">
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <h4 class="badge-pill badge-danger">Dirección</h4>
                        </div>
                        <div class="row mt-4">
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Localidad</span></strong>
                                </div>
                                <input class="form-control text-center" value="Caballito" type="text">
                            </div>
                            <div class="offset-md-1 col-md-3">
                                <div class="text-center">
                                    <strong><span>Direccion</span></strong>
                                </div>
                                <input class="form-control text-center" value="Avenida Rivadavia" type="text">
                            </div>
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Provincia</span></strong>
                                </div>
                                <select class="form-control">
                                    <option value="CABA">CABA</option>
                                    <option value="Buenos Aires">Buenos Aires</option>
                                    <option value="Mendoza">Mendoza</option>
                                    <option value="Santa Fé">Santa Fe</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Número</span></strong>
                                </div>
                                <input class="form-control text-center" value="5985" type="text">
                            </div>
                            <div class="offset-md-1 col-md-3">
                                <div class="text-center">
                                    <strong><span>Piso</span></strong>
                                </div>
                                <input class="form-control text-center" value="5" type="text">
                            </div>
                            <div class="offset-md-1 col-md-2">
                                <div class="text-center">
                                    <strong><span>Letra</span></strong>
                                </div>
                                <input class="form-control text-center" value="A" type="text">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secundary"  data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="Submit" data-dismiss="modal">Guardar</button>
                    </div>
                
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        var url = "@Url.Action("GetDataClient", "Backend")";
        var urlUpdate = "@Url.Action("UpdateClient", "Backend")";
    </script>
    <script src="~/js/ButtonIDClick.js"></script>
    <script>
                /*$(document).ready(function () {
            $(".btn").click(function () {
            let Index = $(this).attr("id");
            $.ajax({
            method: "POST",
            url: url,
            data: { id: Index },
            success: function (DataJsonClient) {
            alert("Hola");
            //$('#modalClient').modal('show');
            },
            error: function () {
            alert("ERROR");
            }
            });
            });
            });*/
    </script>

</body>

</html>